<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">  
            <h1>Post your question</h1>
            <%= form_for question do |f| %>
                <div class="form-group">
                <%= f.label :title  %>
                <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
                </div>
            
                <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Description"%>                
                </div>
            <% end %>        
    </div>
  </div>
</div>
