<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-2">            
            <h1><%= @question.title%></h1>
            <h2><%= @question.body %></h2>                        
        </div>
    </div>
</div>    

<% @question.answers.each do |answer| %>
  <div class="panel panel-default">
    <div class="panel-body"><%= answer.text %></div>
    <p class="help-block"><%= answer.user.email %> <%= time_ago_in_words(answer.created_at) %> ago</p>
  </div>
<% end %>

<% if signed_in? %>
  <%= render "answers/form" %> 
<% end %>    